
<!DOCTYPE html>

<html>
  <head>
  </head>

<body>
    <div>
      <form action="/response" method="get">
        <input type="text" value="username" /><br>
        <input type="submit" value="Guess Favourite Language" />
      </form> 
    </div>
</body>
</html>

