<!-- 
<form action="/" method="get">
<input type="submit" value="Try Again!" />
</form> -->

<!-- Trying to get this connected by adding response :erb in the app.rb file. 
    However for some reason doesn't like displaying both this Try Again button and the favourite language generated-->